
PG_PRIMARY_PROVIDER=kginicis
PG_PRIMARY_MERCHANT_ID=change-me
PG_PRIMARY_API_KEY=change-me
PG_PRIMARY_WEBHOOK_SECRET=change-me
PG_SECONDARY_PROVIDER=danalpay
PG_SECONDARY_MERCHANT_ID=change-me
PG_SECONDARY_API_KEY=change-me
PG_SECONDARY_WEBHOOK_SECRET=change-me
PG_ALLOWED_PAYMENT_SCOPES=card,transfer,vbank
